*{
    color: #ffffff;
    font-family: 'VT323', monospace;
    font-size: 26px;
    line-height: 84%;
    box-sizing: border-box;
}
*:focus{
    outline: none;
}
body{
    background: #000000;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1000px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 5%;
    padding-top: calc(60px + 5%);
    background-color: #454545;
    border-left: 3px solid goldenrod;
    border-right: 3px solid goldenrod;
}
.speaker{
    display: block;
    margin-bottom: 10px;
}
#text{
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 3px solid #ffffff;
}
#responses{
    margin-top: 40px;
}
button{
    display: block;
    background: none;
    padding: 3px 10px 4px;
    margin: 5px 0;
    border-top: 2px solid rgb(118 118 118);
    border-left: 2px solid rgb(118 118 118);
    border-bottom: 2px solid rgb(33 33 33);
    border-right: 2px solid rgb(33 33 33);
}
button:hover, 
button:focus{
    background-color: rgba(50,50,50,0.6);
}
button:active{
    border-bottom: 2px solid rgb(118 118 118);
    border-right: 2px solid rgb(118 118 118);
    border-top: 2px solid rgb(33 33 33);
    border-left: 2px solid rgb(33 33 33);
}
.dialogue{
    display: flex;
}
#gold{
    color: goldenrod;
}
.counters{
    position: absolute;
    top: 15px;
    left: 15px;
}
#health{
    color: green;
}
#money-message{
    height: 5px;
    text-align: right;
}
.ping{
    -webkit-transition: opacity 1.5s ease-out, transform 1.5s ease-out;
    -moz-transition: opacity 1.5s ease-out, transform 1.5s ease-out;
    -ms-transition: opacity 1.5s ease-out, transform 1.5s ease-out;
    -o-transition: opacity 1.5s ease-out, transform 1.5s ease-out;
    position: absolute;
    right: 0;
    margin-top: -10px;
    z-index: 1;
}
.fade{
    opacity: 0;
    transform: translateY(20px);
}
#drunkenness-counter{
    display: none;
}
#drunkenness{
    color: mediumpurple;
}

.menu-wrapper{
    position: absolute;
    top: 15px;
    right: 15px;
    text-align: right;
}
.menu-wrapper button{
    margin-left: auto;
}
.menu{
    overflow: hidden;
    min-height: 100vh;
    background-color: #000000;
    border-left: 2px solid goldenrod;
    position: absolute;
    top: -15px;
    right: -15px;
    padding: 15px;
    box-sizing: border-box;
    z-index: 5;
}
#inventory-menu{
    min-width: 251px;
}
.closed{
    display: none;
}
input,
textarea{
    border-radius: 0;
    border: 2px solid #ffffff;
    background: #000000;
    margin: 7px 0;
}

textarea{
    width: 100%;
    resize: vertical;
}

.menu > *{
    margin-bottom: 20px;
}
#inventory button{
    display: inline-block;
    margin: 0 0 0 10px;
}
.item {
    white-space: nowrap;
    margin: 5px 0;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}
.item-info {
    position: absolute;
    top: 100%;
    background: #000;
    border: 2px solid #ffffff;
    padding: 5px;
    z-index: 10;
    margin: 0;
    list-style: none;
    text-transform: capitalize;
    display: none;
}
.item:hover .item-info{
    display: block;
}
.gold{
    color: goldenrod;
}